@font-face {
  font-family: 'pixelFont';
  src: url('./Images/ARCADECLASSIC.TTF') format('truetype');
}

/* css class of container */
.title-container {
  position: relative;
}

/* css class of centered block */
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* css class of background image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./Images/background.webp');
  background-size: cover;
  
  z-index: -1;
}
